#{extends 'main.html' /}
#{set title:'About' /}
#{set listing:'WeatherTop Services Inc.' /}

#{menu id:"about"/}

<section class="box is-medium">
  <div class="columns is-vcentered">
    <div class="column">
       <p class="title has-text-centered">
      Weather App
       </p>
       <p class="subTitle has-text-centered">
      Monitor latest weather station readings.<br>
           Ireland’s National Meteorological Service,<br>
           is a line division of the Department of Housing,<br>
           Local Government and Heritage and is the<br>
           leading provider of weather information<br>
           and related services in the State.<br>
           Its mission is to monitor, analyse and predict<br>
           Ireland’s weather and climate and to provide a range<br>
           of high quality meteorological and related information<br>
           to the public and to specific customers in, for example,<br>
           the aviation and agricultural sectors.<br>
           As a scientific and technical organisation,<br>
           it strives to utilise the latest technological and scientific<br>
           advances in order to improve the efficiency,<br>
           effectiveness and accuracy of its forecasts.<br>
       </p>
    </div>
    <div class="column">
      <img src="/public/images/weathertop-watch-tower.jpg" alt="Weather Station logo">
    </div>
  </div>
</section>