#{extends 'main.html' /}
#{set title:'Welcome' /}
#{set listing:'WeatherTop Services Inc.' /}


#{menu id:"start"/}

<section class="box">
<div class="columns is-horizontal-centered">
    <div class="column is-one-third">
        <figure>
            <img src="/public/images/sun.svg" alt="Weather Station logo">
        </figure>
    </div>

    <div class="column is-one-third">
        <div class="box is-info">
        <figure>
            <img src="/public/images/snow.svg" alt="Weather Station logo">
        </figure>
        </div>
    </div>
    <div class="column is-one-third">
        <figure>
            <img src="/public/images/wind.svg" alt="Weather Station logo">
        </figure>
    </div>
</div>
<div class="box has-text-centered">
    <p class="title">
        Weather Top
    </p>
    <p class="subTitle">
        Select Dashboard or About
    </p>
</div>
<div class="columns is-horizontal-centered">
        <div class="column is-one-third">
            <div class="box is-info">
            <figure>
                <img src="/public/images/cloudy-night.svg" alt="Weather Station logo">
            </figure>
            </div>
        </div>
        <div class="column is-one-third">
            <figure>
                <img src="/public/images/lightning.svg" alt="Weather Station logo">
            </figure>
        </div>
        <div class="column is-one-third">
            <div class="box is-info">
            <figure>
                <img src="/public/images/hurricane.svg" alt="Weather Station logo">
            </figure>
            </div>
        </div>
</div>
</section>
